/*=================================*/
$font-family: arial, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
$font-size: 12px;
$bg:#f5f5f5;
$border-color: #eee;
/*=================================*/

/*=================================*/
$white:#fff;
$black:#000;
$dark:#333;
$gray:#666;
$orange:#eb5508;
/*=================================*/

/*=================================*/
$top-height:40px;
$top-bg:#e6e6e6;
/*=================================*/

/*=================================*/
$header-height:80px;
$header-bg:#fff;
/*=================================*/

/*=================================*/
$footer-height:80px;
$footer-bg:#666666;
/*=================================*/