$font-family: arial, "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1";
$font-size: 12px;

/*=================================*/
$border-color: #eee;
/*=================================*/

/*=================================*/
$white:#fff;
$black:#000;
$dark:#333;
$gray:#666;
/*=================================*/